<div class="main-container">
  <h2>Guess the Character!!!</h2>
  <div>
    <div>
      Gender:{{randomCharacter?.gender}}
    </div>
    <div>
      Alias:{{randomCharacter?.aliases[0]}}
    </div>
  </div>
  <input [(ngModel)]="answer" (keyup.enter)="checkAnswer()">
  <div>
    {{successMessage}}
  </div>
  <button class="btn-lg" (click)="getNextCharacter()">
    Next Question
  </button>
  <div>
    Your Score: {{score}}
  </div>
  <button *ngIf="allTraversed" (click)="reset()">
    Start Again?
  </button>
  <div *ngIf="loader" class="loader">
  </div>
</div>