<h1>What do you want to explore?</h1>
<div class="row">
  <div class="card-block col-md-4" (click)="openBooks()">
    <img src="../../assets/img/books.jpg">
    <div>
      <label>Books</label>
    </div>
  </div>
  <div class="card-block col-md-4" (click)="openCharacters()">
    <img src="../../assets/img/characters.jpg">
    <div>
      <label>Characters</label></div>
  </div>
  <div class="card-block col-md-4" (click)="openHouses()">
    <img src="../../assets/img/houses.jpg">
    <div>
      <label>Houses</label></div>
  </div>
</div>